<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=CTS08391847\DS_AUDITXML_DB;Initial Catalog=Shell_AutoArchDB;User ID=ds_auditxml;Password=ds_auditxml" providerName="System.Data.SqlClient"/>
    <!--
    <add name="ApplicationServices" connectionString="Data Source=CTS08391847\DS_AUDITXML_DB;Initial Catalog=Shell_AutoArchDB;User ID=shell_autoarch;Password=Blumenau-062015" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MPSfwk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MPSfwk.Properties.Settings>
            <setting name="MPSfwk_sts237wk8_Lists" serializeAs="String">
                <value>http://sts237wk8/_vti_bin/Lists.asmx</value>
            </setting>
        </MPSfwk.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
