<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=CTS08391847\DS_AUDITXML_DB;Initial Catalog=Shell_AutoArchDB;User ID=ds_auditxml;Password=ds_auditxml" providerName="System.Data.SqlClient" />
    <!--
    <add name="ApplicationServices" connectionString="Data Source=CTS08391847\DS_AUDITXML_DB;Initial Catalog=Shell_AutoArchDB;User ID=shell_autoarch;Password=Blumenau-062015" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PathServer" value="C:\public\SHELL\Shell_ArchivalOrder\" />
    <add key="PathCSV"    value="C:\public\SHELL\Shell_CSV_ArchOrder\" />
    <add key="PathSQL"    value="C:\public\SHELL\Shell_DBScripts\" />
    <add key="PathCVR"    value="C:\public\SHELL\Shell_CVR_ArchOrder\" />
    <add key="PathPST"    value="C:\public\SHELL\Shell_PST_Alerts\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>